body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link:hover {
  color: #d1961f !important;
}

.pageHeaderButton:hover {
  color: #d1961f;
  background: transparent  !important;
  border: 1px solid #d1961f !important;
}

.text_decoration{
  color: white;
  text-decoration: none;
}

.text_decoration:hover{
  color: brown;
  text-decoration: underline;
}

#line_under_text{
  background-color: rgb(173, 140, 52);
  width: 120px;
  height: 5px;
  margin-top: 12px;
}