.card {
    box-shadow: 3px 5px 5px rgba(12, 12, 12, 0.5);
    border: none;
    background-color: #0a0a0a;
}

img {
    position: relative;
}

.text_about_room {
    background-color: black;
    color: aliceblue;
    font-size: 15px;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img:hover {
    background-color: #0a0a0a !important;
    opacity: 0.4;
}

.text_about_price {
    display: inline-block;
    background-color: rgba(20, 18, 18, 0.8);
    color: aliceblue;
    font-size: 15px;
    position: absolute;
    font-weight: 600;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-right-radius: 15px;
}

.text {
    font-size: 10px;
}

.card:hover {
    box-shadow: 5px 7px 5px rgba(14, 12, 12, 0.5);

}

.card:hover>.text_about_price {
    display: none;
}

.card:hover>.roombotton {
    display: block;
}

.roombotton {
    display: none;
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 120px;
}

.card:hover>img {
    background-color: #0a0a0a !important;
    opacity: 0.4;
}

.roombotton:hover {
    color: #bd810b;
    background: transparent !important;
    border: 1px solid #9a6a0b !important;
}