.all_items {
    margin-top: 50px;
    margin-left: 10%;
}

.select-option {
    padding-right: 30px;
    margin-right: 20px;
}

#select_room_type {
    width: 210px;
    border: 1px solid black;
    background-color: white;
    margin-top: 6px;
}

#select_room_type:hover {
    border: 2px solid black;
}

#select_guest_number {
    width: 210px;
    border: 1px solid black;
    background-color: white;
    margin-top: 6px;
}

#select_guest_number:hover {
    border: 2px solid black;
}


#range_id {
    margin-bottom: 7px;
}

#controlrange {
    height: 10px;
    width: 200px;
}

#min_size {
    width: 100px;
    border: 1px solid black;
    background-color: white;
    margin-top: 6px;
    border-radius: 3px;
    margin-right: 10px;
}

#min_size:hover {
    border: 2px solid black;
}

#max_size {
    width: 100px;
    border: 1px solid black;
    background-color: white;
    margin-top: 6px;
    border-radius: 3px;
    margin-right: 10px;
}

#max_size:hover {
    border: 2px solid black;
}
#last_option{
    margin-top: 0px;
    margin-left: 0px;
}
label {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-style: normal;
}

#BreakFast {
    border: 1px solid rgba(79, 75, 75, 0.5);
}

#Pets {
    border: 1px solid rgba(79, 75, 75, 0.5);
}

@media (max-width: 768px) {
    
    .options {
        justify-content: flex-start !important;
    }

    #select_room_type {
        width: 290px;
        border: 1px solid black;
        background-color: white;
        margin-top: 6px;
    }
    #select_guest_number {
        width: 290px;
        border: 1px solid black;
        background-color: white;
        margin-top: 6px;
        margin-right: 10% !important;
    }
    #min_size {
        width: 150px;
        border: 1px solid black;
        background-color: white;
        margin-top: 6px;
        border-radius: 3px;
        margin-right: 10px;
    }
    #max_size {
        width: 150px;
        border: 1px solid black;
        background-color: white;
        margin-top: 6px;
        border-radius: 3px;
        margin-right: 10px;
    }
}